body, html {
    color: black;
    height: 100%;
    /* font-family: 'Cute Font', cursive; */
    /* font-family: 'Stylish', sans-serif; */
    font-family: 'Noto Serif JP', sans-serif;
    /* font-size: 1.5em; */
    /* line-height: 1.5em; */
}

body {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
  }

  footer {
    background: pink;
    color: white;
    text-align: center;
    flex-shrink: 0;
    font-size: 10px;
    padding: 10px;
  }

h1 {
    font-size: 5rem;
    font-family: 'Cute Font', cursive;
    /* font-family: 'Spirax', cursive; */
    color: whitesmoke;
    background: hotpink;
    text-align: center;
    border: 5px ridge lightyellow;
    font-weight: bold;
    /* font-style: italic; */
}

/* h2 {
    text-align: center;
} */

.badge-pill {
    color: hotpink;
    padding: .1em .5em .1em .5em;
    margin-bottom: 10px;
    /* font-weight: bolder; */
}

.bg {
    background-image: url("../images/background.png");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    background: white;
    color: black;
    padding: 10px;
}

.fighters, .opponents {
    background: white;
    padding-bottom: 5px;
    /* opacity: .5; */
}

.opponents {
    display: none;
}

.character {
    display: inline-block;
    border: none;
    /* margin: 2px; */
}

.charpic {
    width: auto;
    height: auto;
    max-height: 100px;
    border: 5px ridge gold;
}

.stats {
    padding: 5px;
    text-align: center;
    background: black;
    color: white;
    border: thin solid lightgray;
}

.character {
    background-color: white;
    /* height: 200px; */
    /* width: 50%; */
}

.stadium {
    background-image: url("../images/arena.gif");
    height: 100%;
    width: auto;
    /* min-height: 380x; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.message {
    white-space: pre-line;
}

.arena {
    max-height: 350px;
}

.fight-panel {
    background: white;
    color: black;
    padding: 10px;
}

.attack {
    /* text-align: center; */
    display: none;
    margin: auto;
    background: red;
    color: white;
    font-family: 'Cute Font', cursive;
    font-size: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-header {
    background: white;
}

.messages {
    line-height: 1.5em;
}

.reset {
    margin: auto;
    display: none;
    font-family: 'Cute Font', cursive;
    font-size: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.arena-floor {
    position: fixed; /* Sit on top of the page content */
    /* display: none; */
}

.pixel {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    /* min-height: 75px; */
    /* max-height: 75px; */
    left: 120px;
    top: 180px;
}

#pixel-kirby {
    max-height: 75px;
}

#pixel-knight {
    max-height: 120px;
}

#pixel-king {
    max-height: 120px;
}

#pixel-dee {
    max-height: 100px;
}





  